@model RhymesUI.Models.UserViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="row mt-5">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-danger text-center p-5">
                    <img src="https://rhbooks.com.ng/wp-content/uploads/2018/03/new-roving-heights-books-logoWHITE.png" class="img-fluid" asp-append-version="true" />
                </div>
                <div class="card-body">
                    <form method="post" asp-action="" asp-controller="">

                        <div>
                            <div class="form-group">
                                <input asp-for="FirstName" type="text" class="form-control form-control-user" placeholder="Enter Your First Name" />
                            </div>
                            <div class="form-group">
                                <input asp-for="LastName" type="text" class="form-control form-control-user" placeholder="Enter Your Last Name" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Email" type="email" class="form-control form-control-user" placeholder="Enter Your Email Address" />
                            </div>
                            <div class="form-group">
                                <input asp-for="Password" type="password" class="form-control form-control-user" placeholder="Password" />
                            </div>
                            <div class="form-group">
                                <input asp-for="ConfirmPassword" type="password" class="form-control form-control-user" placeholder="Confirm Password" />
                            </div>
                            @*<div class="form-group col-md-6">
                                <input asp-for="Bank" class="form-control form-control-user" placeholder="Bank Name" />
                            </div>
                            <div class="form-group col-md-6">
                                <input asp-for="AccountName" class="form-control form-control-user" placeholder="Account Name" />
                            </div>
                            <div class="form-group col-md-6">
                                <input asp-for="AccountNumber" class="form-control form-control-user" placeholder="Bank Account Name" />
                            </div>*@
                            <div class="form-group ml-auto">
                                <button type="submit" class="btn btn-block btn-danger btn-user btn-lg">Register</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <a href="#" class="small">Forgot Password?</a>
                    </div>
                    <div class="text-center">
                        <a asp-action="Index" asp-controller="Home" class="small">I Have An Account!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

